{% extends 'students/base.html' %}
{% block title %}Delete Student{% endblock %}
{% block content %}
<div class="card">
    <h1>Delete Student</h1>
    <p>Are you sure you want to delete {{ student.first_name }} {{ student.last_name }}?</p>
    <form method="post">
        {% csrf_token %}
        <button class="btn btn-danger" type="submit">Yes, delete</button>
        <a class="btn btn-secondary" href="{% url 'students:student_detail' student.pk %}">Cancel</a>
    </form>
</div>
{% endblock %}
