# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution
build/
dist/
*.egg-info/

# Virtual Environment
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Coverage
.coverage
htmlcov/

# Pytest
.pytest_cache/

# CSV generated
output.csv

# Excel
*.xlsx

# Temporary
temp/